/** button icon **/
.button-icon svg {
  rotate: 270deg;
  width: 25px;
  order: 1;
}

.button-icon__over span {
  transform: translateX(-10px);
  transition: all ease 0.3s;
}

.button-icon__over svg {
  transition: all ease 0.3s;
}

/** first section **/
.first-section__column {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.first-section__column h1 {
  font-size: 40px !important;
  color: var(--color-primary);
}

.first-section__column p {
  margin: 1em;
  font-size: 25px;
}

@media screen and (max-width: 992px) {
  .first-section__column h1 {
    font-size: 36px;
  }

  .first-section__column p {
    font-size: 18px;
  }
}

/** section about **/

.section-home__about h1 {
  font-size: 40px !important;
  padding-bottom: 0.5em;
  color: var(--color-primary);
}

.section-home__about p {
  font-size: 20px !important;
  padding-bottom: 2em;
}

/** section product **/

.section-home__product h1 {
  font-size: 40px !important;
  padding-bottom: 0.5em;
  color: var(--color-primary);
}

.section-home__product p {
  font-size: 20px !important;
  padding-bottom: 2em;
}

/** section name **/
.section-home__name {
  /* padding-left: 200px; */
}

.section-home__name h1 {
  font-size: 2em !important;
  padding-bottom: 0.5em;
}

.section-home__name p {
  font-family: Mundial-Light;
  font-size: 1em;
  padding-bottom: 2em;
}
