.hero__image__background {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 60vh;
  opacity: 0.8;
}

.first-section_row {
  padding: 0 100px !important;
}

.first-section__column {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.first-section__column h1 {
  font-size: 3em;
}
.first-section__column p {
  margin: 1em;
  font-size: 1.7em;
}
