.ant-layout-header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  color: var(--bg-color-light);
  line-height: 100px;
  height: 100px;
  padding: 0 10em 0 10em;
}

.layout-header {
  background: transparent;
}

.layout-header--active {
  background-color: var(--bg-color-light);
  transition: background-color 0.3s ease-in-out;
}

.logo {
  float: left;
  cursor: pointer;
  vertical-align: middle;
}

.logo .ant-image {
  display: flex;
  height: 100px;
}

/* .logo .logo__image {
  background-image: url("../../resources/logo/logo.svg");
  width: 400px;
  height: 200px;
} */

.login {
  float: right;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  width: 50px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background-color: #000;
}

.ant-layout-header ul.ant-menu-overflow {
  justify-content: flex-end;
  background: transparent;
  border-bottom: transparent;
  line-height: 100px;
}

.menu-login--transparent::after {
  border-bottom-width: 0 !important;
}

.ant-layout-header ul li.ant-menu-item-selected::after,
.ant-layout-header ul li.ant-menu-item-active::after,
.ant-layout-header ul li.ant-menu-overflow-item::after {
  border-bottom-width: 5px !important;
  margin-bottom: 20px;
}

.ant-layout-header ul li.ant-menu-item-active::after {
  border-bottom-color: var(--color-light) !important;
}

.layout-header--active ul li.ant-menu-item-active::after {
  border-bottom-color: var(--color-primary) !important;
}

.ant-layout-header ul li.ant-menu-item-selected::after {
  border-bottom-color: transparent !important;
}

.ant-menu-title-content {
  font-size: 18px !important;
  color: var(--bg-color-light) !important;
}

.layout-header--active .ant-menu-title-content {
  font-size: 18px !important;
  color: var(--color-primary) !important;
}

.ant-layout-header ul li.ant-menu-item-active {
  color: #000 !important;
}

.menu__left {
  order: -1;
}

.menu__right {
  order: 1;
}

.ant-menu-item-group-title {
  display: none;
}

.mega-menu {
  /* transition: 0.01s linear, 0.6s cubic-bezier(0.86, 0, 0.12, 1); */
  height: 50vh;
  width: 100%;
  left: 0;
  /* top: 60px; */
  background: var(--bg-color-light);
  position: fixed;
  z-index: 2;
}

.mega-menu.mega-menu--active {
  animation: 1s cubic-bezier(0.4, 0, 0, 1) megaMenuTranslate forwards;
  pointer-events: auto;
  color: var(--color-primary);
  opacity: 1;
}

.header__backdrop {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(22, 20, 13, 0.8);
  z-index: 1;
  cursor: pointer;
}

@keyframes menuBannerFadeIn {
  0% {
    opacity: 0;
    transform: scale(1.15);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes megaMenuTranslate {
  0% {
    opacity: 1;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(90px);
  }
}
