:root {
  --bg-color-primary: #2d56a0;
  --bg-color-light: #fff;
  --bg-color-dark: #000;

  /* header */
  --header-color-primary: #2d56a0;

  /* button*/
  --button-color-primary: #2d56a0;
  --button-color-dark: #000;
  --button-color-light: #fff;

  /* content */
  --color-primary: #2d56a0;
  --color-dark: #000;
  --color-light: #fff;
}

/*** GT America ***/

@font-face {
  font-family: GT-America-Black;
  src: url("./resources/font/GT-America-Compressed-Black-Trial.otf");
}
@font-face {
  font-family: GT-America-Bold;
  src: url("./resources/font/GT-America-Compressed-Bold-Trial.otf");
}
@font-face {
  font-family: GT-America-Medium;
  src: url("./resources/font/GT-America-Compressed-Medium-Trial.otf");
}
@font-face {
  font-family: GT-America-Regular;
  src: url("./resources/font/GT-America-Compressed-Regular-Trial.otf");
}
@font-face {
  font-family: GT-America-Light;
  src: url("./resources/font/GT-America-Compressed-Light-Trial.otf");
}

/*** Mundial ***/

@font-face {
  font-family: Mundial-Black;
  src: url("./resources/font/Fontspring-DEMO-7-mundial-black-tty.otf");
}
@font-face {
  font-family: Mundial-Bold;
  src: url("./resources/font/Fontspring-DEMO-6-mundial-bold-tty.otf");
}
@font-face {
  font-family: Mundial-Medium;
  src: url("./resources/font/Fontspring-DEMO-5-mundial-demibold-tty.otf");
}
@font-face {
  font-family: Mundial-Regular;
  src: url("./resources/font/Fontspring-DEMO-4-mundial-regular-tty.otf");
}
@font-face {
  font-family: Mundial-Light;
  src: url("./resources/font/Fontspring-DEMO-3-mundial-light-tty.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** BASICS **/

h1,
h2,
h3,
h4 {
  font-family: Mundial-Bold;
  font-size: 1.2em;
}

p,
pre,
span,
div {
  font-family: Mundial-Light;
  font-size: 18px;
}

/*** BUTTTON ***/

.ant-btn {
  padding: 4px 24px;
}

.button-primary {
  height: 50px;
  width: 200px;
  box-shadow: none;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  justify-content: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.button-primary span {
  font-family: Mundial-Regular !important;
}

.button-login {
  height: auto;
  border: 3px solid var(--button-color-light);
  border-radius: 2em;
  color: var(--color-light);
}

.button-login--active {
  border: 3px solid var(--button-color-primary);
  border-radius: 2em;
  color: var(--color-primary);
}

.button-login span {
  font-family: Mundial-Bold !important;
}

/** PADDING OR MARGIN **/
.pt-150 {
  padding-top: 150px;
}

.plr-200 {
  padding: 0 200px 0 200px;
}

/** ALIGN **/

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

/** HEADER MENU**/

.ant-layout-header ul li span {
  font-family: Mundial-Bold;
  /* text-transform: capitalize; */
  letter-spacing: 2px;
  font-size: 17px;
}

/** VARIOUS SECTION **/

.section-content__large {
  min-height: 800px;
}

.section-content__medium {
  min-height: 600px;
}

.section-content__small {
  min-height: 400px;
}
